<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hey Gamers</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        min-height: 100vh;
        box-shadow: inset 1000px 1000px 1000px 1000px rgb(0, 0, 0, 0.7);
        background-image: url("<%= bgImage %>");
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      button {
        color: white;
        background-color: red;
        width: 10rem;
        padding: 0.5rem 0rem;
        font-size: 1.2rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div
      class="heading"
      style="
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
      "
    >
      <h1 style="font-size: 3rem">Welcome to GameCore</h1>
      <p style="padding: 0">The core of true Gamers.</p>
    </div>
    <div class="login" style="display: flex; gap: 2rem; padding-top: 3rem">
      <a href="/register"><button>Register</button></a>
      <a href="/login"><button>Login</button></a>
    </div>
  </body>
</html>
